<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2><%= pluralize(@user.errors.count, "error") %> este user esta prohibido para ser guardado:</h2>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :family_goal, "Family Goal" %><br />
    <%= f.collection_select(:family_goal_ids, FamilyGoal.order(:id), :id, :all, {}, {multiple: true}) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
